PROJECT_NAME=Panopticon
VERSION=1.0.0
PROJECT_EXTERNAL_IP=192.168.0.102


PANOPTICON_NAME=Panopticon
PANOPTICON_HOST=panopticon
PANOPTICON_PORT=8000
PANOPTICON_NAMESPACE_UUID=1830323b-31ab-4f00-bd21-b47713cfbc00
PANOPTICON_SECRET_KEY=django-insecure-*jfgofs9-pp76&w%rh^(=p=$t0p^hvy($%tl2()_hu&g@od*)6

STREAM_SERVICE__NAME=streaming
STREAM_SERVICE__HOST=${PROJECT_EXTERNAL_IP}
STREAM_SERVICE__PORT=8000
STREAM_SERVICE__DEBUG=True
STREAM_SERVICE__INTERNAL_URL=http://${STREAM_SERVICE__NAME}:${STREAM_SERVICE__PORT}/api/v1

STREAM_AUTH__SECRET_KEY=86212079d088c11056f093995ae695bcfd0d4978e36d74e8623a8c760aebcea6
STREAM_AUTH__ALGORITHM=HS256
STREAM_AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=30

STREAM_CORS__ALLOWED_ORIGINS=["*"]


ML_PROCESSOR__HOST=processor
ML_PROCESSOR__PORT=8001
ML_PROCESSOR__URL=${ML_PROCESSOR__HOST}:${ML_PROCESSOR__PORT}'


STUN_SERVERS=[{"url":"stun:stun.l.google.com:19302"}]


TURN_REALM=webrtc.local
TURN_PORT=3478
TURN_SHARED_SECRET=ff98b90d5fd1c2b7e3c3783e62b3bdbd2c0cbd40106308bf398bc35b66e2a727
TURN_SERVERS=[{"url":"turn:${PROJECT_EXTERNAL_IP}:${TURN_PORT}","shared_secret":"${TURN_SHARED_SECRET}"}]


DATABASE__HOST=database
DATABASE__PORT=5432
DATABASE__DB=panopticon_db
DATABASE__USER=user
DATABASE__PASSWORD=password


S3__HOST=storage
S3__PORT=9000
S3__ACCESS_KEY=minioadmin
S3__SECRET_KEY=minioadmin
S3__BUCKET_NAME=proctoring-videos
S3__REGION=us-east-1
S3__URL=http://${S3__HOST}:${S3__PORT}
