{% extends "account/password/base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Set a New Password</h2>
                <form method="post" class="pb-4">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul class="mb-0">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}                    
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}"><strong>New Password</strong></label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}"><strong>Confirm New Password</strong></label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100 py-2">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
